auto-save-list/
recentf
.last-package-update-day
elpa/
el-get/
eshell/
session*
.python-environments/
.sx/
.emacs*
.mc-lists.el
nov-places
request/
url/
tramp
init.elc
/projectile-bookmarks.eld
/#init.el#
/bookmarks
doc/auto
*.aux
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.log
*.out
*.gz
*.toc
/network-security.data
*.elc
doc/
image-dired/
/ac-comphist.dat
/octave-workspace
/magithub
/savefile
/%backup%~
flycheck_init.el
*.pdf
/semanticdb
/transient
**/__pycache__*
/eln-cache/
/org-clock-save.el
/straight/build/
/straight/build-cache.el
/straight/modified/
/straight/repos/
/.org-id-locations
/.extension/
/.edbi-ds-history
/.dap-breakpoints
/var/
/elpy/
